{% extends 'blog/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg styler">
            <h1 class='headone'>About me</h1>
            <p class='headone'>Thanks for checking it out! Stay tuned!</p>
            <script>
                // $(".bg-custom").mouseover(function () {
                //     $("p").hide(1500);
                // });
                $('p').css({
                    'font-family': 'italic'
                    // 'fontSize': '50px';
                    // 'font-weight': 'bold'
                });
            </script>
        </div>
    </div>
</div>
</div>


{% endblock %}